[Unit]
Description=Moto Bot (Telegram/MAX)
After=network.target postgresql.service redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/moto_bot
Environment=PLATFORM=telegram
EnvironmentFile=/opt/moto_bot/.env
ExecStart=/opt/moto_bot/venv/bin/python -m src.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
